.header {
    /* background-color: antiquewhite;
    text-align: center;
    padding: 15px;
    text-transform: uppercase; */
    background-color: #00455e;
    color: #ffae00;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}